<div class="directions-container">
  <div class="heading-container">
    <h2>Популярные направления</h2>
    <div class="subheading">
      <p>Проводим индивидуальные и групповые экскурсии на русском языке</p>
    </div>
  </div>

  <div class="cities-container">
    <div class="city">
      <div class="city-info">
        <div class="city-heading">
          <h4>Дубай</h4>
        </div>
        <div class="tours-count">
          <button>15 экскурсий</button>
        </div>
      </div>
    </div>
    <div class="city">
      <div class="city-info">
        <div class="city-heading">
          <h4>Стамбул</h4>
        </div>
        <div class="tours-count">
          <button>15 экскурсий</button>
        </div>
      </div>
    </div>
    <div class="city">
      <div class="city-info">
        <div class="city-heading">
          <h4>Санкт-Петербург</h4>
        </div>
        <div class="tours-count">
          <button>15 экскурсий</button>
        </div>
      </div>
    </div>
    <div class="city">
      <div class="city-info">
        <div class="city-heading">
          <h4>Карелия</h4>
        </div>
        <div class="tours-count">
          <button>15 экскурсий</button>
        </div>
      </div>
    </div>
    <div class="city">
      <div class="city-info">
        <div class="city-heading">
          <h4>Калининград</h4>
        </div>
        <div class="tours-count">
          <button>15 экскурсий</button>
        </div>
      </div>
    </div>
    <div class="city">
      <div class="city-info">
        <div class="city-heading">
          <h4>Мурманск</h4>
        </div>
        <div class="tours-count">
          <button>15 экскурсий</button>
        </div>
      </div>
    </div>
  </div>
</div>