<header class="header">
  <nav class="header-nav">
    <div class="icon">
      <a href="/main">
        <img src="../assets/images/icons/logo.svg" alt="logo">
      </a>
    </div>
    <div class="nav-btn directions">
      <a href="/directions">&nbsp;Направления&nbsp;&nbsp;&nbsp;
        <img src="../assets/images/icons/arrow-expand.svg" alt="arrow">
      </a>
    </div>
    <div class="nav-btn about">
      <a href="/about">О сервисе</a>
    </div>
    <div class="nav-btn blog">
      <a href="/blog">Блог</a>
    </div>
    <div class="nav-btn help">
      <a href="/help">&nbsp;Помощь клиентам&nbsp;
        <img src="../assets/images/icons/arrow-expand.svg" alt="arrow">
      </a>
    </div>
  </nav>
  <div class="user-items">
    <div class="user-btn favourites">
      <a href="/favourites">
        <img src="../assets/images/icons/favourites.svg" alt="favourites">
      </a>
    </div>
    <div class="user-btn sign-in">
      <a href="/profile">
        Войти
      </a>
    </div>
  </div>
</header>

  <app-search></app-search>
  <app-directions></app-directions>
  <app-guided-tours></app-guided-tours>
  <app-feedbacks></app-feedbacks>
  <app-blog></app-blog>
  <app-subscribe></app-subscribe>

<footer class="footer">
  <div class="footer-main-info">
    <div class="apps">
      <div class="icon">
        <a href="/main">
          <img src="../assets/images/icons/logo.svg" alt="logo">
        </a>
      </div>
      <p>Cкачайте<br>наше приложение</p>
      <div class="download">
        <div class="appstore">
          <a href="https://www.apple.com/app-store/" target="_blank">
            <img src="../assets/images/icons/appstore.svg" alt="appstore">
          </a>
        </div>
        <div class="playmarket">
          <a href="https://play.google.com/store/apps?hl=ru&gl=US" target="_blank">
            <img src="../assets/images/icons/gplay.svg" alt="appstore">
          </a>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="service-heading">
        <h4>Сервис</h4>
      </div>
      <div class="service-links">
        <div class="service-about">
          <a href="/about">О сервисе</a>
        </div>
        <div class="service-blog">
          <a href="/blog">Блог</a>
        </div>
        <div class="service-faq">
          <a href="/faq">Часто задаваемые вопросы</a>
        </div>
        <div class="service-pay">
          <a href="/pay">Способы оплаты</a>
        </div>
      </div>
    </div>
    <div class="for-guides">
      <div class="for-guides-heading">
        <h4>Гидам</h4>
      </div>
      <div class="for-guides-links">
        <div class="for-guides-became">
          <a href="/became">Стать гидом</a>
        </div>
        <div class="for-guides-rules">
          <a href="/rules">Правила работы</a>
        </div>
      </div>
    </div>
    <div class="docs">
      <div class="docs-heading">
        <h4>Документы</h4>
      </div>
      <div class="docs-links">
        <div class="docs-refund">
          <a href="/refund_policy">Политика возврата билетов</a>
        </div>
        <div class="docs-offer">
          <a href="/offer_contract">Договор оферты</a>
        </div>
        <div class="docs-terms">
          <a href="/terms">Условия использования сайта</a>
        </div>
        <div class="docs-pd-policy">
          <a href="/personal_data_plicy">Политика обработки персональных<br>данных</a>
        </div>
        <div class="docs-credentials">
          <a href="/credentials">Реквизиты</a>
        </div>
      </div>
    </div>
    <div class="support">
      <div class="support-heading">
        <h4>Поддержка клиентов</h4>
      </div>
      <div class="support-links">
        <div class="support-phone">
          <a href="tel:+74951234567">
            <img src="../assets/images/icons/phone.svg" alt="phone">
            <p><strong>Телефон:&nbsp;</strong></p>
            +7 (495) 123-45-67
          </a>
        </div>
        <div class="support-mail">
          <a href="mailto:hello@travelme.ru">
            <img src="../assets/images/icons/mail.svg" alt="mail">
            <p><strong>E-mail:&nbsp;</strong></p>
            hello@travelme.ru
          </a>
        </div>
        <div class="support-location">
          <a
            href="https://www.google.com/maps/place/%D0%91%D0%B5%D1%80%D0%BC%D1%83%D0%B4%D1%81%D0%BA%D0%B8%D0%B9+%D1%82%D1%80%D0%B5%D1%83%D0%B3%D0%BE%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA/@13.8984656,-81.3231547,5923616m/data=!3m1!1e3!4m6!3m5!1s0x89451ab5034cb7ab:0xb600ecf3df7aca4d!8m2!3d25!4d-71!16zL20vMDFqcGw?entry=ttu">
            <img src="../assets/images/icons/location.svg" alt="location">
            <strong>Офис:&nbsp;</strong>Москва, ул. Название улицы 10, офис 11
          </a>
        </div>
      </div>
      <div class="support-social">
        <div class="support-wa">
          <a href="https://www.whatsapp.com/" target="_blank">
            <img src="../assets/images/icons/social-icons/wa.svg" alt="whatsapp">
          </a>
        </div>
        <div class="support-tg">
          <a href="https://web.telegram.org/" target="_blank">
            <img src="../assets/images/icons/social-icons/tg.svg" alt="telegram">
          </a>
        </div>
        <div class="support-vk">
          <a href="https://vk.com/" target="_blank">
            <img src="../assets/images/icons/social-icons/vk.svg" alt="vk">
          </a>
        </div>
        <div class="support-ig">
          <a href="https://www.instagram.com/" target="_blank">
            <img src="../assets/images/icons/social-icons/ig.svg" alt="instagram">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-license-info">
    <div class="license-left">
      <p>© 2023 «Tenloc».</p>
    </div>
    <div class="license-right">
      <div class="pay-systems">
        <img src="../assets/images/icons/pay-systems.svg" alt="Pay systems">
      </div>
      <div class="license-design">
        <p>Разработка сайта</p>
        <img src="../assets/images/icons/advance-media-logo.svg" alt="Development company">
      </div>
    </div>
  </div>
</footer>