<div class="guided-tours-container">
  <div class="guided-tours-heading">
    <div class="header">
      <h2>Экскурсии</h2>
    </div>
    <div class="city-container">
      <input type="text" placeholder="Выберите город">
      <img src="../../assets/app-guided-tours-images/icons/arrow-expand.svg" alt="expand">
    </div>
    <div class="date-container">
      <input type="text" placeholder="Выберите дату">
      <img src="../../assets/app-guided-tours-images/icons/calendar.svg" alt="calendar">
    </div>
  </div>
  <div class="price-container">

    <div class="card">
      <div class="image-container">
        <div class="favourites">
          <button>
            <img src="../../assets/app-guided-tours-images/icons/heart.svg" alt="favourites">
          </button>
        </div>
      </div>
      <div class="description">
        <h4>Коллекция Эрмитажа и парадная жизнь Зимнего дворца</h4>
        <p>Двухчасовая экскурсия по Эрмитажу в мини-группе — история Зимнего дворца и шедевры мастеров Западной Европы.
        </p>
      </div>
      <div class="card-footer">
        <div class="card-footer-left">
          <div class="card-cost">
            <span class="cost">от 2750 ₽&nbsp;</span><span class="for-person"><strong>/&nbsp;</strong>с чел</span>
          </div>
          <div class="card-select">
            <select>
              <option disabled selected>Выбрать время</option>
              <option value="option1">c 10:00 до 16:00</option>
              <option value="option2">4:20</option>
            </select>
          </div>
        </div>
        <div class="card-footer-right">
          <button class="tour-add">
            <img src="../../assets/app-guided-tours-images/icons/plus.svg" alt="add">
          </button>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="image-container">
        <div class="favourites">
          <button>
            <img src="../../assets/app-guided-tours-images/icons/heart.svg" alt="favourites">
          </button>
        </div>
      </div>
      <div class="description">
        <h4>По дюнам на квадроциклах, катание на верблюдах и ужин в пустыне</h4>
        <p>Двухчасовая экскурсия по Эрмитажу в мини-группе — история Зимнего дворца и шедевры мастеров Западной Европы.
        </p>
      </div>
      <div class="card-footer">
        <div class="card-footer-left">
          <div class="card-cost">
            <span class="cost">от 2750 ₽&nbsp;</span><span class="for-person"><strong>/&nbsp;</strong>с чел</span>
          </div>
          <div class="card-select">
            <select>
              <option disabled selected>Выбрать время</option>
              <option value="option1">c 10:00 до 16:00</option>
              <option value="option2">4:20</option>
            </select>
          </div>
        </div>
        <div class="card-footer-right">
          <button class="tour-add">
            <img src="../../assets/app-guided-tours-images/icons/plus.svg" alt="add">
          </button>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="image-container">
        <div class="favourites">
          <button>
            <img src="../../assets/app-guided-tours-images/icons/heart.svg" alt="favourites">
          </button>
        </div>
      </div>
      <div class="description">
        <h4>Весь Калининград с земли и воды: экскурсия на автобусе и кораблике</h4>
        <p>Двухчасовая экскурсия по Эрмитажу в мини-группе — история Зимнего дворца и шедевры мастеров Западной Европы.
        </p>
      </div>
      <div class="card-footer">
        <div class="card-footer-left">
          <div class="card-cost">
            <span class="cost">от 2750 ₽&nbsp;</span><span class="for-person"><strong>/&nbsp;</strong>с чел</span>
          </div>
          <div class="card-select">
            <select>
              <option disabled selected>Выбрать время</option>
              <option value="option1">c 10:00 до 16:00</option>
              <option value="option2">4:20</option>
            </select>
          </div>
        </div>
        <div class="card-footer-right">
          <button class="tour-add">
            <img src="../../assets/app-guided-tours-images/icons/plus.svg" alt="add">
          </button>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="image-container">
        <div class="favourites">
          <button>
            <img src="../../assets/app-guided-tours-images/icons/heart.svg" alt="favourites">
          </button>
        </div>
      </div>
      <div class="description">
        <h4>Must-visit: экскурсия по великому Босфору на пароме с аудиогидом</h4>
        <p>Двухчасовая экскурсия по Эрмитажу в мини-группе — история Зимнего дворца и шедевры мастеров Западной Европы.
        </p>
      </div>
      <div class="card-footer">
        <div class="card-footer-left">
          <div class="card-cost">
            <span class="cost">от 2750 ₽&nbsp;</span><span class="for-person"><strong>/&nbsp;</strong>с чел</span>
          </div>
          <div class="card-select">
            <select>
              <option disabled selected>Выбрать время</option>
              <option value="option1">c 10:00 до 16:00</option>
              <option value="option2">4:20</option>
            </select>
          </div>
        </div>
        <div class="card-footer-right">
          <button class="tour-add">
            <img src="../../assets/app-guided-tours-images/icons/plus.svg" alt="add">
          </button>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="image-container">
        <div class="favourites">
          <button>
            <img src="../../assets/app-guided-tours-images/icons/heart.svg" alt="favourites">
          </button>
        </div>
      </div>
      <div class="description">
        <h4>Из Дубаи в Фуджейру: снорклинг, Индийский океан, барбекю</h4>
        <p>Двухчасовая экскурсия по Эрмитажу в мини-группе — история Зимнего дворца и шедевры мастеров Западной Европы.
        </p>
      </div>
      <div class="card-footer">
        <div class="card-footer-left">
          <div class="card-cost">
            <span class="cost">от 2750 ₽&nbsp;</span><span class="for-person"><strong>/&nbsp;</strong>с чел</span>
          </div>
          <div class="card-select">
            <select>
              <option disabled selected>Выбрать время</option>
              <option value="option1">c 10:00 до 16:00</option>
              <option value="option2">4:20</option>
            </select>
          </div>
        </div>
        <div class="card-footer-right">
          <button class="tour-add">
            <img src="../../assets/app-guided-tours-images/icons/plus.svg" alt="add">
          </button>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="image-container">
        <div class="favourites">
          <button>
            <img src="../../assets/app-guided-tours-images/icons/heart.svg" alt="favourites">
          </button>
        </div>
      </div>
      <div class="description">
        <h4>Обзорная экскурсия по Казани с посещением Казанского Кремля</h4>
        <p>Двухчасовая экскурсия по Эрмитажу в мини-группе — история Зимнего дворца и шедевры мастеров Западной Европы.
        </p>
      </div>
      <div class="card-footer">
        <div class="card-footer-left">
          <div class="card-cost">
            <span class="cost">от 2750 ₽&nbsp;</span><span class="for-person"><strong>/&nbsp;</strong>с чел</span>
          </div>
          <div class="card-select">
            <select>
              <option disabled selected>Выбрать время</option>
              <option value="option1">c 10:00 до 16:00</option>
              <option value="option2">4:20</option>
            </select>
          </div>
        </div>
        <div class="card-footer-right">
          <button class="tour-add">
            <img src="../../assets/app-guided-tours-images/icons/plus.svg" alt="add">
          </button>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="image-container">
        <div class="favourites">
          <button>
            <img src="../../assets/app-guided-tours-images/icons/heart.svg" alt="favourites">
          </button>
        </div>
      </div>
      <div class="description">
        <h4>Териберка — путешествие на край севера с выходом в Баренцево море</h4>
        <p>Двухчасовая экскурсия по Эрмитажу в мини-группе — история Зимнего дворца и шедевры мастеров Западной Европы.
        </p>
      </div>
      <div class="card-footer">
        <div class="card-footer-left">
          <div class="card-cost">
            <span class="cost">от 2750 ₽&nbsp;</span><span class="for-person"><strong>/&nbsp;</strong>с чел</span>
          </div>
          <div class="card-select">
            <select>
              <option disabled selected>Выбрать время</option>
              <option value="option1">c 10:00 до 16:00</option>
              <option value="option2">4:20</option>
            </select>
          </div>
        </div>
        <div class="card-footer-right">
          <button class="tour-add">
            <img src="../../assets/app-guided-tours-images/icons/plus.svg" alt="add">
          </button>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="image-container">
        <div class="favourites">
          <button>
            <img src="../../assets/app-guided-tours-images/icons/heart.svg" alt="favourites">
          </button>
        </div>
      </div>
      <div class="description">
        <h4>«Жемчужина Карелии» — тур в Рускеалу из Петрозаводска</h4>
        <p>Двухчасовая экскурсия по Эрмитажу в мини-группе — история Зимнего дворца и шедевры мастеров Западной Европы.
        </p>
      </div>
      <div class="card-footer">
        <div class="card-footer-left">
          <div class="card-cost">
            <span class="cost">от 2750 ₽&nbsp;</span><span class="for-person"><strong>/&nbsp;</strong>с чел</span>
          </div>
          <div class="card-select">
            <select>
              <option disabled selected>Выбрать время</option>
              <option value="option1">c 10:00 до 16:00</option>
              <option value="option2">4:20</option>
            </select>
          </div>
        </div>
        <div class="card-footer-right">
          <button class="tour-add">
            <img src="../../assets/app-guided-tours-images/icons/plus.svg" alt="add">
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="all-tours">
    <button>Все экскурсии</button>
  </div>
</div>