<div class="subscribe-container">
  <div class="subscribe-content">
    <div class="subscribe-data">
      <div class="heading">
        <h2>Подпишитесь<br>
          на нашу рассылку</h2>
        <span>Подписывайтесь на удобный для Вас мессенджер</span>
      </div>
      <div class="social-container">
        <div class="instagram">
          <img src="../../assets/app-subscribe-images/icons/instagram.svg" alt="instagram">
          <span>Instagram</span>
        </div>
        <div class="telegram">
          <img src="../../assets/app-subscribe-images/icons/telegram.svg" alt="telegram">
          <span>Telegram</span>
        </div>
        <div class="vk">
          <img src="../../assets/app-subscribe-images/icons/vk.svg" alt="vk">
          <span>Vkontakte</span>
        </div>
      </div>
      <div class="policy-container">
        <span>При переходе в одну из указанных социальных сетей, вы автоматически соглашаетесь<br>
          с&nbsp;</span><a href="/policy">политикой конфидециальности</a>
      </div>
    </div>
  </div>
</div>
