.blog-container {
  margin: 65px auto 0;
  padding: 0 16px 110px 16px;
  box-shadow: 0 -100px 10px #f3f3f3;
  background-color: #f2f2f2;

  .blog-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .heading-left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 58px;

      h2 {
        font-size: 36px;
        font-weight: 800;
      }

      .arrows {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .arrow-prev,
        .arrow-next {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: none;
          background-color: transparent;
          border-radius: 50%;
          width: 46px;
          height: 46px;
        }
      }
    }

    .heading-right {

      button {
        font-size: 16px;
        letter-spacing: 0.8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        background-color: #fff;
        border-radius: 100px;
        width: 100px;
        height: 50px;
      }
    }
  }

  .pages-container {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;

    .page {
      max-width: 326px;
      height: 394px;

      .image-container {
        border-radius: 15px;
        display: flex;
        overflow: hidden;

        img {
          max-width: 324px;
        }
      }

      .time {
        margin: 25px 0 0 0;
        font-size: 13px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        color: #828282;
      }

      .description {
        margin: 20px 0 0 0;
        line-height: 25px;
        letter-spacing: 0.1px;
        text-wrap: nowrap;
      }

      .to-post {
        cursor: pointer;
        margin: 20px 0 0 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        width: 110px;
        height: 36px;
        border: 1px solid #e2e2e2;
        border-radius: 100px;

        span {

        }

        img {

        }

      }
    }
  }
}