<div class="blog-container">
  <div class="blog-heading">
    <div class="heading-left">
      <h2>Блог</h2>
      <div class="arrows">
        <button class="arrow-prev">
          <img src="../../assets/app-blog-images/icons/arrow-prev.svg" alt="prev">
        </button>
        <button class="arrow-next">
          <img src="../../assets/app-blog-images/icons/arrow-next.svg" alt="next">
        </button>
      </div>
    </div>
    <div class="heading-right">
      <button>В блог</button>
    </div>
  </div>

  <div class="pages-container">

    <div class="page">
      <div class="image-container">
        <img src="../../assets/app-blog-images/bus.png" alt="blog image">
      </div>
      <div class="time">
        <img src="../../assets/app-blog-images/icons/calendar.svg" alt="calendar">
        <span>Сегодня 15:25</span>
      </div>
      <div class="description">
        <p>Программа автобусной экскурсии из<br>Петербурга в Выборг</p>
      </div>
      <div class="to-post">
        <span>Читать</span>
        <img src="../../assets/app-blog-images/icons/more.svg" alt="dots">
      </div>
    </div>

    <div class="page">
      <div class="image-container">
        <img src="../../assets/app-blog-images/theater.png" alt="blog image">
      </div>
      <div class="time">
        <img src="../../assets/app-blog-images/icons/calendar.svg" alt="calendar">
        <span>Сегодня 15:25</span>
      </div>
      <div class="description">
        <p>10 лучших экскурсий в городе<br>античной культуры Риме</p>
      </div>
      <div class="to-post">
        <span>Читать</span>
        <img src="../../assets/app-blog-images/icons/more.svg" alt="dots">
      </div>
    </div>

    <div class="page">
      <div class="image-container">
        <img src="../../assets/app-blog-images/city.png" alt="blog image">
      </div>
      <div class="time">
        <img src="../../assets/app-blog-images/icons/calendar.svg" alt="calendar">
        <span>Сегодня 15:25</span>
      </div>
      <div class="description">
        <p>10 главных вещей, которые нужно<br>успеть сделать в Будапеште</p>
      </div>
      <div class="to-post">
        <span>Читать</span>
        <img src="../../assets/app-blog-images/icons/more.svg" alt="dots">
      </div>
    </div>

    <div class="page">
      <div class="image-container">
        <img src="../../assets/app-blog-images/human.png" alt="blog image">
      </div>
      <div class="time">
        <img src="../../assets/app-blog-images/icons/calendar.svg" alt="calendar">
        <span>Сегодня 15:25</span>
      </div>
      <div class="description">
        <p>В какие страны можно выехать<br>россиянам, несмотря на коронавирус?</p>
      </div>
      <div class="to-post">
        <span>Читать</span>
        <img src="../../assets/app-blog-images/icons/more.svg" alt="dots">
      </div>
    </div>

  </div>
</div>