<div class="search-container">
  <div class="search-content">

    <div class="heading">
      <h1>Поиск и бронирование экскурсий</h1>
      <div class="image">
        <img src="../../assets/app-search-images/swoosh.png" alt="swooh">
      </div>
      <div class="subheading">
        <p>Экскурсии и частные гиды в России и за рубежом</p>
      </div>
    </div>

    <div class="searchbar">
      <div class="direction">
        <div class="image">
          <img src="../../assets/app-search-images/icons/location.svg" alt="location">
        </div>
        <input type="text" placeholder="Выберите направление">
      </div>
      <div class="date">
        <div class="image">
          <img src="../../assets/app-search-images/icons/calendar.svg" alt="calendar">
        </div>
        <input type="text" placeholder="Дата">
      </div>
      <div class="search-btn">
        <button>
          <img src="../../assets/app-search-images/icons/loupe.svg" alt="loupe">
          &nbsp;Найти
        </button>
      </div>
    </div>

    <div class="often">
      <div class="text">
        <p>Часто ищут:&nbsp;</p>
      </div>
      <div class="often-buttons">
        <button>Дубай</button>
        <button>Стамбул</button>
        <button>Санкт-Петербург</button>
        <button>Казань</button>
      </div>
    </div>

  </div>
</div>